- params[:view] ||= 'general'
= link_to icon('fas', 'chevron-left'), :back, class: 'btn btn-sm text-dark'
.container-fluid.d-inline-block
	%ul.nav.bg-white.border-bottom.border-top.p-2.mb-4.mt-4
		%li.title.nav-item.border-right
			= link_to file.title, surgeries_file_path(file.id),class: 'btn btn-light float-left'
		%li.nav-item.border-animated
			= show_links('General', 'general', params[:view], surgeries_file_path(file.id, view: 'general'))
		%li.nav-item.border-animated
			= show_links('Delegaciones', 'responsables', params[:view], surgeries_file_path(file.id, view: 'responsables'))
		%li.nav-item.border-animated
			= show_links('Actividades', 'alerts', params[:view], surgeries_file_path(file.id, view: 'alerts'))
		%li.nav-item.border-animated
			= show_links('Documentos', 'documents', params[:view], surgeries_file_path(file.id, view: 'documents'))
		%li.nav-item.border-animated
			= show_links('Movimientos', 'movements', params[:view], surgeries_file_path(file.id, view: 'movements'))
		%li.nav-item.border-animated
			= show_links('Adjuntos', 'attachements', params[:view], surgeries_file_path(file.id, view: 'attachements'))
		%li.nav-item.border-animated
			= show_links('Bitácora', 'binnacle', params[:view], surgeries_file_path(file.id, view: 'binnacle'))
		%li.nav-item.ml-auto
			= link_to "#{icon('fas', 'edit')} Editar".html_safe, edit_surgeries_file_path(file), class: 'nav-link text-dark'
		%li.nav-item.ml
			= link_to "#{icon('fas', 'user')} Cambiar vendedor".html_safe, surgeries_file_new_cambiar_seller_path(file), class: 'nav-link text-dark'
		%lin.nav-item
			.nav-link.text-dark.border-left
				Estado:
				= file.disabled? ? badge("Cerrado", "danger") : badge("Abierto", "success")
	#see-body
		- if ['general', 'alerts', 'documents', 'movements', 'responsables', 'description', 'attachements', 'binnacle'].include?(params[:view])
			= render "/surgeries/files/see/#{params[:view]}"
