- child ||= d.object.is_a_child?
- index = @index || d.index

= document_detail(d, index, child) do
	%td.d-flex.border-top-0
		= state_point(d.object.state_point) unless child
	%td
		= offer_input(d)
	%td
		= product_td(d)
	%td
		= product_code_td(d)
	%td
		= d.input :branch
	%td
		= d.input :source
	%td
		= quantity_td(d)
	%td
		= price_td(d)  unless child
	%td
		= discount_td(d) unless child
	%td
		= iva_td(d) unless child
		= d.input :description, as: :hidden
	%td.fixed-col
		= total_td(d) unless child
	%td.fixed-col
		= document_detail_actions d, index, child
