- child ||= d.object.is_a_child?
- index = @index || d.index
= document_detail(d, index, child) do
	%td.d-flex.border-top-0
		= state_point(d.object.info) unless child
	%td
		= d.input :user_id, include_blank: "Ninguno", input_html: {class: 'user_ov_comisionant'}, collection: current_company.users unless child
	%td
		= product_td(d)
		= d.hidden_field :product_code
	%td
		= quantity_td(d)
	%td
		= measurement_td(d)
	%td
		= d.input :price, input_html:{class: 'price_td tender_price_history'} unless child
	%td
		= discount_td(d) unless child
	%td
		= iva_td(d) unless child
	%td.fixed-col
		= total_td(d) unless child
		= d.input :description, as: :hidden
	%td.fixed-col
		= document_detail_actions d, index, child
