- present file do |file_presenter|
	.row
		.col-12
			.px-2.bg-white.p-3
				.text-muted
					= icon('fas', 'list-alt')
					Información básica
				%hr
					%dl.row
						.col-12
							- if current_user.can?(:manage, Calendar)
								= simple_form_for file, html: {class: 'horizontal-form directUpload'}, wrapper: :horizontal_form, defaults: {disabled: file.disabled? } do |f|
									.row
										.col-md-4.col-lg-2.col-form-label.col-form-label-sm
											= f.label "Entrega"
										.col-md-8.col-lg-10.d-flex.justify-content-between
											= f.input :place, placeholder: "Lugar", label: false
											= f.input :delivery_date, input_html: {placeholder: "Fecha"}, as: :date_picker, label: false
											= f.input :delivery_hour, input_html: {placeholder: "Hora"}, as: :time_picker, label: false
											= save_button
							- else
								= see_contact_dl("Entrega", file_presenter.delivery_data)
							%hr.dotted
							= see_contact_dl("Técnico", file.technical)
							%hr.dotted
							= see_contact_dl("Remitos", file.shipments.map{|a| link_to "#{a.number}", edit_polymorphic_url(a)}.join(",").html_safe)
							%hr.dotted
						.col-6
							= see_contact_dl("Título", file_presenter.title)
							%hr.dotted
							= see_contact_dl("Cliente", file_presenter.client)
							%hr.dotted
							= see_contact_dl("Médico", file.doctor)
							%hr.dotted
							= see_contact_dl("Afiliado", file_presenter.pacient_with_number)
							%hr.dotted
							= see_contact_dl("Provincia", file.province)
							%hr.dotted
							= see_contact_dl("Lugar", file.place)
							%hr.dotted
							= see_contact_dl("Ubicación actual", file_presenter.current_location)
							%hr.dotted
							= see_contact_dl("Crt. implante", file_presenter.implant)
							%hr.dotted
							= see_contact_dl("Número", file_presenter.number)
						.col-6
							= see_contact_dl("Numeración externa", file_presenter.external_number)
							%hr.dotted
							= see_contact_dl("O.C. Obra social", file_presenter.external_purchase_order_number)
							%hr.dotted
							= see_contact_dl("Rto. Obra social", file_presenter.external_shipment_number)
							%hr.dotted
							= see_contact_dl("Fecha de inicio", file_presenter.init_date)
							%hr.dotted
							= see_contact_dl("Fecha de cirugía", file_presenter.surgery_end_date)
							%hr.dotted
							= see_contact_dl("¿Abierto?", file_presenter.open)
							%hr.dotted
							= see_contact_dl("Estado", file_presenter.state)
							%hr.dotted
							= see_contact_dl("Responsable actual", file_presenter.user_name)
							%hr.dotted
							= see_contact_dl("Foja qurirúrgica", file_presenter.surgical_sheet)
