= simple_form_builder sale_order, defaults: {disabled: sale_order.disabled?} do |f|
	= shared_nav(f)
	.card.shadow.mb-4.mx-4.rounded-lg{class: "border-left-#{record.state_color}"}
		.card-body
			= surgery_header(f)
			.header-detail
				= error_notification(f)
				.row
					.col-sm-4.col-12
						= number_input(f)
						= sale_client_select(f)
						= user_input(f)
					.col-sm-4.col-12
						= date_input(f, :expected_delivery_date)

						= state_input(f, with_button: false)

						= f.input :order_type, input_html: {value: "Cirugía"}, disabled: true
					.col-sm-4.col-12
						.row
							.col-6
								= f.input :subtotal, label: 'Bruto($)', input_html: {id: 'parent_gross_price', disabled: true}
							.col-6
								= total_input(f)
						.row
							.col-6
								= usd_price_input(f)
							.col-6
								= total_usd_input(f)
						.row
							.col-6
								= currency_input(f)
							.col-6
								= discount_input(f)
				.row
					.col-6
						= new_associated_document(f)
					- if !sale_order.editable?
						.d-flex.align-items-baseline
							= button_tag type: :button, class: 'btn btn-primary btn-sm mt-4', data: {toggle: 'modal', target: '#add_attachments_modal'} do
								= icon('fas', 'plus')
								Agregar adjuntos
				= observation_to_user("Solo se vincularan los detalles del presupuesto con estado 'Aprobado'.")
				- if sale_order.approved?
					= content_for :extra_links do
						%li.nav-item
							= send_to_client_button(sale_order)
				= state_manager(f)
				= file_state_manager(f)
	= render '/sales/orders/file_data', {f: f, order: sale_order}
	= hidden_field_tag :selected_user, nil, id: 'general_user_selected'
	= document_table(f) do
		= observation_input(f)
		= render '/file_attributes_configs/shared_extra_attributes', f:f, object: sale_order
		= render '/sales/shared_attachment', f:f

- if sale_order.approved?
	= modal("#{icon('fas', 'cogs')} Generar PDF", "pdf_modal", "pdf_modal_body", "extra-big") do
		.modal-body
			= render '/sales/orders/custom_details_form', order: sale_order
- if !sale_order.editable?
	= modal("Agregar adjuntos", 'add_attachments_modal', 'add_attachments_modal_body') do
		= simple_nested_form_for sale_order, html: {id: 'modal_nested_form', class: 'directUpload', data: {'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host}}, default: {label_html: {class: :h6}} do |f|
			.modal-body
				.d-flex.attachments-fields
					= f.simple_fields_for :attachments, wrapper: false do |i|
						.row.mx-3.fields.with-title{class: "#{i.index}"}
							.caption.captionload
								= image_tag "/images/load.gif", class: 'img-fluid'
							.text-center.img_wrp
								= image_tag i.object.display_file, width: '90px', height: '75px', alt: 'Añadir imagen', class: "border img-fuild image #{i.object.new_record? ? 'hidden' : nil}", data: {index: i.index, source: i.object.file}
								- if i.object.new_record?
									= i.input :original_filename, value: i.object.original_filename, as: i.object.new_record? ? :hidden : :string, label: false, wrapper_html: {style: 'width: 90px'}
								- else
									.row.text-center
										= link_to i.object.original_filename, i.object.file, style: 'max-width: 200px', target: '_blank'
								= i.link_to_remove icon('fas', 'times'), class: 'rm-img-btn text-dark'
							= i.input :file, as: :file, input_html: { hidden: true, class: "file_input", data: {index: i.index, required: false} }, label: false
				= f.link_to_add "#{icon('fas', 'paperclip')} Adjuntar archivo".html_safe, :attachments, class: "btn btn-success btn-sm align-self-start", data: {target: '.attachments-fields'}
				.modal-footer
					= save_button
