- child ||= d.object.is_a_child?
- index = d.index
- random = SecureRandom.hex(9).to_s
= document_detail(d, index, child) do
	%td
		= d.input :transaction_id, label: false
	%td
		= product_td(d)
	%td
		= requested_quantity_td(d)
	%td
		= quantity_td(d)
	%td.text-center{class: "#{d.object.has_childs? && 'hidden-traceability'}"}
		- if d.object.batch_details.any?
			= button_tag icon('fas', 'qrcode'), class: "btn btn-info", type: :button, onclick: "showBatchModal('#gtin_#{random}')"
			= render '/inventaries/batches/form', {d: d, random: random, mode: 'check_in', parent_index: parent_index, child: child}
		-else
			= link_to icon('fas', 'qrcode'), new_batch_detail_external_arrivals_path(detail_id: d.object.id, index: index, link_id: random, child: child, parent_index: parent_index), remote: true, class: "btn btn-sm btn-info gtin_modal #{'blink' if d.object.has_batches_with_errors?}", id: random
	%td
		= document_detail_observation_button d, index, child
	%td.fixed-col
		= document_detail_actions(d, index, child)
- unless child
	= document_detail_observation d, index, child
