= index_table(collection: collection, icon: 'file-alt', text: "Ordenes de pago") do
	= button_tag "#{icon('fas', 'file-import')} Importar".html_safe, type: 'button', data: {target: "#import_modal", toggle: "modal"}, class: 'btn btn-info'

= modal("#{icon('fas', 'cogs')} Configurar campos", "config_modal", "config_modal_body", "big") do
	.modal-body
		= yield

= modal("#{icon('fas', 'file-import')} Importar OP", "import_modal", "import_modal_body") do
	= form_tag import_purchases_payment_orders_path(), {multipart: true, method: :post} do
		.modal-body
			.format.w-100.text-center
				.text-muted
					Seleccione el archivo del cual importara los detalles del recibo
				.form-group
					= file_field_tag :file , :class => 'btn ', accept: ".csv, .xls, .xlsx"
			.format.w-100
				.form-group.col-12
					= label_tag :supplier, "Proveedor", class: 'mr-2'
					= select_tag :supplier, options_for_select(current_company.suppliers.map{|a| [a.name, a.id]}, params[:supplier])
				.form-group.col-12
					= label_tag :date, "Fecha", class: 'mr-2'
					= text_field_tag :date, Date.today, data: { behaviour: 'datepicker' }, placeholder: "Fecha de la OP", class: 'form-control mr-2'
				.form-group.col-12
					= label_tag :current_user, "Registrado por:", class: 'mr-2'
					= text_field_tag :current_user, current_user.name, disabled: true, class: 'form-control mr-2'
		.modal-footer
			= submit_tag "Importar", type: :submit, class: 'btn btn-primary'
			= close_button
