#attachments.card.shadow.mx-4.mb-4.collapse{data: {parent: "#document-accordion"}}
	.card-header.bg-white
		%h5.w-100.pt-2 Documentos adjuntos
	.card-body
		- unless f.object.disabled?
			.d-flex.attachments-fields
				= f.simple_fields_for :attachments, wrapper: false do |i|
					.row.mx-3.fields.with-title{class: "#{i.index}"}
						.caption.captionload
							= image_tag "/images/load.gif", class: 'img-fluid'
						.text-center.img_wrp
							= image_tag i.object.display_file, width: '90px', height: '75px', alt: 'Añadir imagen', class: "border img-fuild image #{i.object.new_record? ? 'hidden' : nil}", data: {index: i.index}
							= i.input :original_filename, value: i.object.original_filename, as: i.object.new_record? ? :hidden : :string, label: false, wrapper_html: {style: 'width: 90px'}
							= i.link_to_remove icon('fas', 'times'), class: 'rm-img-btn text-dark'
						= i.input :file, as: :file, input_html: { hidden: true, class: "file_input", data: {index: i.index} }, label: false
			= f.link_to_add "#{icon('fas', 'paperclip')} Adjuntar archivo".html_safe, :attachments, class: "btn btn-success btn-sm align-self-start #{'disabled' if f.object.disabled?}", data: {target: '.attachments-fields'}
		- else
			.row
				- if f.object.attachments.any?
					- f.object.attachments.each do |attachment|
						.col-3
							.text-center.img_wrp
								= image_tag attachment.display_file, width: '90px', height: '75px', alt: 'Añadir imagen', class: "border img-fuild image", data: {source: attachment.file}
								.text-center
									= link_to attachment.original_filename, attachment.file, style: 'max-width: 200px', target: '_blank'
				- else
					%p.h4.col-12

						El documento actual no posee adjuntos
