= simple_nested_form_for [:deliver, shipment] do |f|
	%p.text-muted
		= icon('fas', 'exclamation-circle')
		Configure los detalles del remito. Los datos especifique abajo seran los que se mostraran en el PDF que se enviará al cliente.
		.form-group.form-inline.border-bottom.pb-3
			= label_tag :email, "Enviar a:", class: 'control-label col-3'
			.col-9
				= email_field_tag :email, params[:email] || shipment.client.emails, class: 'form-control', placeholder: "Emails separados por coma..."
	.table-responsive
		%table.table.custom-details
			%thead
				%th Cantidad
				%th Descripción
			%tbody.custom-details
				= f.simple_fields_for :custom_details, f.object.custom_details_builder, wrapper: false do |cd|
					%tr.fields
						%td{style: 'width: 10%'}
							= cd.input :quantity, label: false
						%td{style: 'width: 60%'}
							= cd.input :product_name, label: false, as: :text
						%td{style: 'width: 10%'}
							= cd.link_to_remove icon('fas', 'trash'), class: 'btn btn-icon btn-sm btn-light btn-outline-danger'
	%hr
	.text-center
		= f.link_to_add "#{icon('fas', 'plus')} Agregar".html_safe, :custom_details, class: 'btn btn-success', data:{target: 'table.custom-details'}
	%hr
	= save_button
