%h3
  Envios para el día #{params[:date]}
.accordion#sale_file
  - @files.each_with_index do |file, index|
    - color = file.has_shipments_color
    .card
      .card-header{id: "heading#{index}"}
        %h2.mb-0
          = button_tag type: :button, class: "btn btn-link text-#{color}-underline collapsed", data:{toggle: 'collapse', target: "#collapse#{index}"}, aria: {expanded: false, controls: "collapse#{index}"} do
            .d-flex.align-items-center
              %span.state
                = surgery_state(file)
              = "#{file.file_type_abbr} #{file.title}"
      .collapse{id: "collapse#{index}", data: {parent: "#sale_file"}, aria: {labelledby: "heading#{index}"}}
        = render "/sales/files/see/general", file: file
        %hr.dotted
        = file.budgets.map(&:observation).join(". ")
