- params[:view] ||= 'general'
= link_to icon('fas', 'chevron-left'), :back, class: 'btn btn-sm text-dark'
- present client do |client_presenter|
	.text-center
		%h2
			= client.name
		%p.m-0
			= client.iva_cond
		%p.text-muted.text-small Cliente
		%p.text-small
			= link_to "#{icon('fas', 'edit')} Editar".html_safe, edit_client_path(client)
	.row
		.col-xl-3.col-sm-12.mb-3
			.card
				.card-body
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted Cotizaciones
						%span.h4
							= client.budgets.count
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted TOTAL
						%span.h4
							= number_to_ars client.total_budgeted
		.col-xl-3.col-sm-12.mb-3
			.card
				.card-body
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted Ventas
						%span.h4
							= client.bills.count
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted TOTAL
						%span.h4
							= number_to_ars client.total_selled
		.col-xl-3.col-sm-12.mb-3
			.card
				.card-body
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted Pendientes
						%span.h4
							= number_to_ars client.bills.approveds.unpaid.not_credito_notes.pluck(:total_left).inject(0, :+)
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted Cta. Cte.
						%span.h4
							= number_to_ars client.current_balance
		.col-xl-3.col-sm-12.mb-3
			.card
				.card-body
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted Pagos en cartera
						%span.h4
							= number_to_ars client.bank_check_payments.pendientes.pluck(:importe).inject(0, :+)
					%div.text-right.mb-2.py-2
						%span.float-left.mt-2.text-muted
							= client_presenter.document_type_name
						%span.h4
							= client.document_number


	%ul.nav.home-nav.justify-content-center.mb-3
		%li.nav-item.border-animated
			= show_links('General', 'general', params[:view], client_path(client.id, view: 'general'))
		%li.nav-item.border-animated
			= show_links('Contactos', 'contacts', params[:view], client_path(client.id, view: 'contacts'))
		%li.nav-item.border-animated
			= show_links('Registros', 'registry' , params[:view], client_path(client.id, view: 'registry'))
		%li.nav-item.border-animated
			= show_links('Cuenta corriente', 'account_movement', params[:view], client_path(client.id, view: 'account_movement'))
		%li.nav-item.border-animated
			= show_links('Cuentas bancarias', 'banks', params[:view], client_path(client.id, view: 'banks'))
		%li.nav-item.border-animated
			= show_links('Remitos', 'shipments', params[:view], client_path(client.id, view: 'shipments'))


	#config_fields
		- if ['general', 'contacts', 'registry', 'account_movement', 'banks', 'shipments'].include?(params[:view])
			= render "/entities/clients/clients/see/#{params[:view]}"
