- company_presenter ||= CompanyPresenter.new(order.company, self)
.border
  %table.width_100
    %tr{style: "line-height: 10px !important;"}
      %th.text_size_25.text_left.header_word_break.border{style:"text-align: center; width: 200px; line-height: 10px;"}
        %p
          = wicked_pdf_image_tag order.company.pdf_logo, width: "80px"
        %p
          = order.company.name
      / %th.text_size_invoice_type
      /   .budget_type
      /     = order.budget_type == "Oficial" ? "R" : "X"
      %th.header_word_break.border{style:"width: 350px;"}
        %p
          = order.company.try(:address) + " - " + order.company.try(:locality).try(:province).try(:name) + " " + order.company.try(:locality).try(:province).try(:country).try(:name) + " " + order.company.postal_code
        %p
          = "Teléfono: #{order.company.try(:contact_number)}".html_safe
        %p
          = "Email: #{order.company.try(:email)}".html_safe
        %p
          = "#{order.company.try(:iva_cond)}".html_safe
        %p
          = "CUIT: #{order.company.try(:cuit)}".html_safe
        %p
          www.magnus.com.ar
      %th.header_word_break.border{style:"width: 250px;"}
        %p.text_size_20
          ORDEN DE VENTA
        %p.text_size_25
          Nº
          = order.number
        %p
          Fecha:
          = I18n.l(order.file.created_at, format: :short)
.border
  %table.width_100
    %tr
      %td
        %b
          Cliente razón social:
        = order.client.name
      %td
        %b
          Fecha de entrega:
        = order.try(:expected_delivery_date)
    %tr
      %td
        %b
          Afiliado:
        = order.file.try(:pacient)
      %td
        %b
          Nº Afiliado:
        = order.file.try(:pacient_number)
    %tr
      %td
        %b
          Nº Expediente:
        = order.file.try(:number)
      %td
        %b
          Clinica:
        = order.file.try(:place)
    %tr
      %td
        %b
          Médico:
        = order.file.try(:doctor)
