= simple_nested_form_for file_movement, html: {class: 'horizontal-form'}, wrapper: :horizontal_form do |f|
	.row
		.col-8.offset-2
			.row
				= error_notification(f)
			= f.hidden_field :file_id, value: file.id
			= f.input :from, as: :fake, label: "Enviar desde", input_html: {value: file.departments.last.name, disabled: true}
			%hr.dotted
			= f.association :sender, as: :select, label: "Enviado por", input_html: { disabled: true}, selected: current_user.id, collection: current_company.users.map{ |u| [u.name, u.id]}
			%hr.dotted
			= f.association :department, label: "Enviar a", collection: current_company.departments
			.actions
				= save_button
