
= index_table(mform: true, icon: 'exchange-alt', text: "Movimientos", collection: collection, path: new_purchases_file_movement_path(purchase_file_id: file.id), jpath: purchases_file_movements_path(purchase_file_id: file.id, format: :json), mtarget: "#new_movement_modal")

= modal("#{icon('fas', 'plus')} Editar movimiento", "edit_movement_modal", "edit_movement_body", "big") do
	.modal-body
		= yield

= modal("#{icon('fas', 'eye')} Ver movimiento", "show_movement_modal", "show_movement_body", "big") do
	.modal-body
		= yield
	.modal-footer
		= close_button

= modal("#{icon('fas', 'plus')} Añadir movimiento", "new_movement_modal", "new_purchase_file_purchase_file_movement_body", "big") do
	.modal-body
		= yield
