- present permission do |permission_presenter|
  .row
    .col-12
      .pr-2.pl-2.bg-white.p-3
        .text-muted
        = icon('fas', 'list-alt')
        = "Información de la asignación de vacaciones"
      %hr
        %dl
          = see_contact_dl("ID", permission.id)
          %hr.dotted
          = see_contact_dl("Empleado", permission_presenter.user_name)
          %hr.dotted
          = see_contact_dl("Días", permission.days)
          %hr.dotted
          = see_contact_dl("Desde", permission_presenter.init_date_label)
          %hr.dotted
          = see_contact_dl("Hasta", permission_presenter.final_date_label)
          %hr.dotted
          = see_contact_dl("Aprobadas?", permission_presenter.approved_icon)
