- present work_station do |work_station_presenter|
	.row
		.col-12
			.pr-2.pl-2.bg-white.p-3
				.text-muted
					= icon('fas', 'list-alt')
					Información del puesto
				%hr
					%dl
						= see_contact_dl("ID", work_station.id)
						%hr.dotted
						= see_contact_dl("Nombre", work_station.name)
						%hr.dotted
						= see_contact_dl("Descripción", work_station.description)
						%hr.dotted
						= see_contact_dl("Encargado", work_station_presenter.responsable_name)
						%hr.dotted
						= see_contact_dl("Cantidad de empleados", work_station_presenter.users_quantity)
