- present attendance_category do |category_presenter|
	.row
		.col-12
			.pr-2.pl-2.bg-white.p-3
				.text-muted
					= icon('fas', 'list-alt')
					Información de turno
				%hr
					%dl
						= see_contact_dl("ID", attendance_category.id)
						%hr.dotted
						= see_contact_dl("Nombre", attendance_category.name)
						%hr.dotted
						= see_contact_dl("Días laborales", category_presenter.work_days)
						%hr.dotted
						= see_contact_dl("Ingreso", category_presenter.check_in_label)
						%hr.dotted
						= see_contact_dl("Salida", category_presenter.check_out_label)
						%hr.dotted
						= see_contact_dl("Tolerancia tarde", category_presenter.late_minutes)
