= index_table(mform: true, collection: current_company.roles, model_name: "Role", icon: 'user', text: "Roles", mtarget: "#new_role_modal", config: false)

= modal("#{icon('fas', 'plus')} Añadir rol", "new_role_modal", "new_role_body", "extra-big") do
	.modal-body

= modal("#{icon('fas', 'plus')} Editar rol", "edit_role_modal", "edit_role_body", "extra-big") do
	.modal-body
		= yield
