.d-flex.attachments-fields
	= f.simple_fields_for :attachments, wrapper: false do |i|
		.row.mx-3.fields.with-title{class: "#{i.index}"}
			.caption.captionload
				= image_tag "/images/load.gif", class: 'img-fluid'
			.text-center.img_wrp
				= image_tag i.object.display_file, width: '90px', height: '75px', alt: 'Añadir imagen', class: "border img-fuild image #{i.object.new_record? ? 'hidden' : nil}", data: {index: i.index}
				= i.input :original_filename, value: i.object.original_filename, as: i.object.new_record? ? :hidden : :string, label: false, wrapper_html: {style: 'width: 90px'}
				= i.link_to_remove icon('fas', 'times'), class: 'rm-img-btn text-dark'
			= i.input :file, as: :file, input_html: { hidden: true, class: "file_input", data: {index: i.index} }, label: false
%center
	= f.link_to_add "#{icon('fas', 'paperclip')} Adjuntar licitación".html_safe, :attachments, class: "btn btn-success btn-sm align-self-start #{'disabled' if f.object.disabled?}", data: {target: '.attachments-fields'}