- params[:view] ||= 'general'
= link_to icon('fas', 'chevron-left'), :back, class: 'btn btn-sm text-dark'
.container-fluid.d-inline-block
	%ul.nav.bg-white.border-bottom.border-top.p-2.mb-4.mt-4
		%li.title.nav-item.border-right
			= link_to "Expediente de licitación Nº #{file.number}", tenders_file_path(file.id),class: 'btn btn-light float-left'
		%li.nav-item.border-animated
			= show_links('General', 'general', params[:view], tenders_file_path(file.id, view: 'general'))
			=# show_links('Delegaciones', 'responsables', params[:view], tenders_file_path(file.id, view: 'responsables'))
		%li.nav-item.border-animated
			= show_links('Actividades', 'alerts', params[:view], tenders_file_path(file.id, view: 'alerts'))
		%li.nav-item.border-animated
			= show_links('Documentos', 'documents', params[:view], tenders_file_path(file.id, view: 'documents'))
		%li.nav-item.border-animated
			= show_links('Movimientos', 'movements', params[:view], tenders_file_path(file.id, view: 'movements'))
		%li.nav-item.ml-auto
			= link_to "#{icon('fas', 'edit')} Editar".html_safe, edit_tenders_file_path(), class: 'nav-link text-dark'
		%lin.nav-item
			.nav-link.text-dark.border-left
				Estado:
				= file.disabled? ? badge("Cerrado", "danger") : badge("Abierto", "success")

	- if ['general', 'alerts', 'documents', 'movements', 'responsables', 'description'].include?(params[:view])
		= render "/tenders/files/see/#{params[:view]}"
