- company_presenter ||= CompanyPresenter.new(@devolution.company, self)
.border
  %table.width_100
    %tr{style: "line-height: 10px !important;"}
      %th.text_size_20.text_left.header_word_break{style:"text-align: center; width: 200px; line-height: 10px;"}
        %p
          = wicked_pdf_image_tag @devolution.company.pdf_logo, width: "200px"
      / %th.text_size_invoice_type
      /   .budget_type
      /     = devolution.budget_type == "Oficial" ? "R" : "X"
      %th.header_word_break{style:"width: 300px; text-align: left; padding-left: 50px;"}
        %p
          = @devolution.company.try(:address)
        %p
          = @devolution.company.postal_code + " " + @devolution.company.try(:locality).try(:province).try(:name) + " - " + @devolution.company.try(:locality).try(:province).try(:country).try(:name)
        %p
          = "#{@devolution.company.try(:contact_number)}".html_safe
        %p
          = "#{@devolution.company.try(:email)}".html_safe
        %p
          = "C.U.I.T.: #{@devolution.company.try(:cuit)}".html_safe
        %p
          www.magnus.com.ar
      %th.header_word_break.border-left{style:"width: 250px;"}
        %p.text_size_20
          DEVOLUCIÓN
        %p.text_size_20
          Nº
          = @devolution.number
        %p.text_size_15
          Fecha:
          = I18n.l(@devolution.date, format: :default)
.border
  %table.width_100
    %tr
      %td
        %b
          Proveedor razón social:
        = supplier.name
      %td
        %b
          Tipo de venta:
        = @devolution.file.sale_type
    %tr
      %td
        %b
          Departamento de emisión:
        = "LOGÍSTICA"
      %td
        %b
          Nº Expediente:
        = @devolution.file.try(:number)
    %tr
      %td
        %b
          C.U.I.T.:
        = supplier.try(:document_number)
      %td
        %b
          Condición I.V.A:
        = supplier.try(:iva_cond)
    %tr
      %td
        %b
          Nº Expediente:
        = @devolution.file.try(:number)
      %td
        %b
          Gln:
        = supplier.try(:gln)
