.text-center
  = link_to "#{icon('fas', 'plus')} Nuevo cheque".html_safe, new_bank_check_payment_path, class: 'btn btn-outline-success'
  = link_to "#{icon('fas', 'plus')} Nuevo pagaré".html_safe, new_promissory_note_payment_path, class: 'btn btn-outline-success'
  = link_to "#{icon('fas', 'search')} Buscador".html_safe, promissory_payments_path, class: 'btn btn-outline-info'
%p.mb-1 Cheques en cartera
%table.contable-table
  %thead
    %th Número
    %th Recibo
    %th Cliente
    %th Vencimiento
    %th Días
    %th.text-center Importe
  %tbody
    - saldo_cheques = 0
    - promissory_payments.each do |promissory_payment|
      %tr
        %td
          = link_to promissory_payment.numero_cheque, promissory_payment_path(promissory_payment)
        %td
          = link_to "X-#{promissory_payment.receipt.number}", edit_expedient_receipt_path(promissory_payment.receipt) if promissory_payment.receipt
        %td
          = promissory_payment.client.try(:name)
        %td
          = promissory_payment.vencimiento
        - dias = promissory_payment.dias_restantes(params[:fecha])
        %td{:class => color_por_dias_faltantes(dias)}
          = dias
        %td.text-right
          - saldo_cheques += promissory_payment.importe
          = number_to_ars promissory_payment.importe
%span.float-right.h5
  Cheques/pagarés en cartera:
  = number_to_ars saldo_cheques
