.text-center
  = link_to "#{icon('fas', 'plus')} Rendición".html_safe, new_regular_cash_account_imprest_clearing_path(current_company.regular_cash_accounts.first), class: 'btn btn-outline-success'
  = link_to "#{icon('fas', 'search')} Buscador".html_safe, imprest_clearings_path, class: 'btn btn-outline-info'
%p.mb-1
  Rendiciones de cajas chicas
%table.contable-table
  %thead
    %th
      Número
    %th
      Fecha
    %th
      Caja origen
    %th
      Responsable
    %th
      Fondo fijo
    %th
      Saldo de inicio
    %th
      A rendir
    %th
      Saldo en caja
    %th
  %tbody
    - imprest_clearings.each do |imprest_clearing|
      %tr
        %td
          = link_to imprest_clearing.id.to_s.rjust(8, '0'), analyze_regular_cash_account_imprest_clearing_path(imprest_clearing.regular_cash_account, imprest_clearing)
        %td
          = imprest_clearing.fecha
        %td
          = imprest_clearing.regular_cash_account.nombre
        %td
          = imprest_clearing.user.name
        %td
          = number_to_ars imprest_clearing.fondo_fijo
        %td
          = number_to_ars imprest_clearing.saldo_inicio
        %td
          = number_to_ars imprest_clearing.a_rendir
        %td
          = number_to_ars imprest_clearing.saldo_en_caja
        %td
          = link_to_pdf regular_cash_account_imprest_clearing_path(imprest_clearing.regular_cash_account, imprest_clearing, format: :pdf) if imprest_clearing.confirmado?
