.card.justify-flex-content.p-4
  .card-body.pt-0
    .row
      .col-8.offset-2
        %h5.card-title.text-center.border-bottom.pb-3
          = icon('fas', 'briefcase')
          Datos laborales
        = simple_nested_form_for user,html: { class: 'horizontal-form'}, wrapper: :horizontal_form do |f|
          = error_notification(f)
          = hidden_field_tag :view, params[:view]
          .row
            .col-md-6
              = f.input :start_of_activity, as: :date_picker, label: "Inicio de actividades"
            .col-md-6
              = f.input :machine_id, label: "ID en Biométrico"
          %hr.dotted
          .row
            .col-md-6
              = f.input :work_station_id, as: :select, label: "Puesto", collection: current_company.work_stations.map{|a| [a.name, a.id]}
            .col-md-6
              = f.input :file_number, label: "N° de legajo", input_html: {placeholder: 'Número de legajo'}
          %hr.dotted
          .row
            .col-md-6
              = f.input :contract, as: :select, label: "Tipo de contrato", collection: User::CONTRACTS
            .col-md-3
              = yes_no_toggle(f, :talliable, "Tarjable?")
            .col-md-3
              = yes_no_toggle(f, :active, "Activo?")
          %hr.dotted
            = render '/human_resources/users/form_partials/vacations', f: f
          %hr.dotted
            = render '/human_resources/users/form_partials/turns', f: f
          %hr
          .actions.text-center
            = save_button
