= index_table(mform: true, collection: collection, icon: 'money-check-alt', text: "Gastos", mtarget: "#new_expenditure_modal")

= modal("#{icon('fas', 'plus')} Tipo de pago", "new_expenditure_modal", "new_expenditure_modal_body", "big") do
	.modal-body
		= yield

= modal("#{icon('fas', 'edit')} Tipo de pago", "edit_expenditure_modal", "edit_expenditure_modal_body", "big") do
	.modal-body
		= yield
