- params[:view] ||= 'general'
= link_to icon('fas', 'chevron-left'), :back, class: 'btn btn-sm text-dark'
.container-fluid.d-inline-block
	%ul.nav.bg-white.border-bottom.border-top.p-2.mb-4.mt-4
		%li.nav-item.border-animated
			= show_links('General', 'general', params[:view], agreement_surgeries_file_path(file.id, view: 'general'))
		%li.nav-item.border-animated
			= show_links('Archivos', 'archivos', params[:archivos], agreement_surgeries_file_path(file.id, view: 'archivos'))
		%li.nav-item.border-animated
			= show_links('Documentos', 'documents', params[:view], agreement_surgeries_file_path(file.id, view: 'documents'))
		%li.nav-item.ml-auto.float-right
			= link_to "#{icon('fas', 'edit')} Editar".html_safe, edit_agreement_surgeries_file_path(file), class: 'nav-link text-dark'
		%lin.nav-item
			.nav-link.text-dark.border-left
				Estado:
				= file.disabled? ? badge("Cerrado", "danger") : badge("Abierto", "success")
	#see-body
		- if ['general', 'archivos', 'estados', 'documents'].include?(params[:view])
			= render "/agreement_surgeries/files/views/#{params[:view]}"
