= simple_nested_form_for(company) do |f|
	= error_notification(f)
	= f.hidden_field :view, value: params[:view]
	.table-responsive
		%table.table#bank_table
			%thead.thead-light
				%th{scope: 'col'} Nombre
				%th{scope: 'col'} Ubicación
				%th{scope: 'col'} ¿Lleno?
				%th{scope: 'col'} Acciones
			%tbody
			= f.simple_fields_for :stores, :wrapper => false do |b|
				%tr.fields
					%td 
						= b.input :name, label: false, placeholder: "Ej: Depósito central"
					%td
						= b.input :location, label: false, placeholder: "Ubicación del deposito"
					%td
						= b.input :filled, label: false
					%td
						= b.link_to_remove icon('fas', 'trash'), class: 'btn btn-danger ml-3'
	%center
		= f.link_to_add "#{icon('fas', 'plus')} Añadir depósito".html_safe, :stores, class: 'btn btn-secondary ml-2 mb-4', data: {target: '#bank_table'}
	%hr
	= save_button