-# col = bills.not_credito_notes.where(state: 'Confirmado').sub_search(from: params[:from], to: params[:to], sellers: params[:sellers])
- if @can_see_all_sellers
	- col = bill_details.joins(:expedient_bill).where(bills:{state: ['Confirmado', 'Anulado']}).search_by_sellers(sellers: params[:sellers]).search_by_date(from: params[:from] || Date.today.at_beginning_of_month, to: params[:to] || Date.today)
- else
	- col = bill_details.joins(:expedient_bill).where(bills:{state: ['Confirmado', 'Anulado']}).search_by_sellers(sellers: current_user.id).search_by_date(from: params[:from] || Date.today.at_beginning_of_month, to: params[:to] || Date.today)
- all_only_dates = bill_details.joins(:expedient_bill, :seller).where(bills:{state: 'Confirmado'}).where.not(bills: {cbte_tipo: ExpedientBill::CREDIT_NOTES}).search_by_date(from: params[:from] || Date.today.at_beginning_of_month, to: params[:to] || Date.today)
- dolar_billete_buy, dolar_billete_sell = TodayDolarGetter.new.call
%center
	.row.h-100
		.col-6
			.d-flex.justify-content-center.w-100
				= form_tag reports_bills_path(), method: :get do
					= hidden_field_tag :view, 'total_selled_per_seller'
					.row
						.col-5.d-flex.align-items-center
							.d-flex
								.form-group
									= label_tag :from, "Desde", class: 'mr-2'
									= text_field_tag :from, params[:from] || Date.today.at_beginning_of_month, data: { behaviour: 'datepicker' }, placeholder: "Desde", class: 'form-control mr-2'
								.form-group
									= label_tag :to, "Hasta", class: 'mr-2'
									= text_field_tag :to, params[:to] || Date.today, data: { behaviour: 'datepicker' }, placeholder: "Hasta", class: 'form-control mx-2'
						.col-5.align-items-center
							= label_tag :sellers, "Vendedor/es", class: 'mr-2'
							- if @can_see_all_sellers
								= select_tag :sellers, options_for_select(current_company.users.joins(:work_station).where(work_stations: {name: "Vendedores"}).map{|a| [a.name, a.id]}, params[:sellers]), {multiple: true, class: 'form-control mr-2'}
							- else
								= select_tag :sellers, options_for_select([[current_user.name, current_user.id]], params[:sellers]), {multiple: true, class: 'form-control mr-2'}
						.col-2{style: 'margin-top: 28px;'}
							= submit_tag "Buscar", class: 'btn btn-primary'
			%hr
			.table-responsive
				%table
					%thead
						%th Cliente
						%th Suma ARS
						%th Suma USD
						%th Facturas
					%tbody
						- col.includes(expedient_bill: :entity).group_by{|b| b.expedient_bill.entity.try(:name) || Entity.unscoped.find_by(id: b.expedient_bill.entity_id).name }.each do |entity, bill_details|
							%tr
								%td
									= entity
								%td
									=  number_to_ars(bill_details.map{|a| a.real_total.to_f}.reduce(:+))
								%td
									= number_to_us(bill_details.map{|bi| (bi.real_total.to_f / bi.expedient_bill.usd_price.to_f) unless bi.expedient_bill.usd_price == 0 }.compact.reduce(:+))
								%td
									= link_to bill_details.group_by{|c| c.expedient_bill}.size, reports_bills_path(bill_ids: bill_details.map(&:bill_id).uniq, not_draw: true)
						%tr{style: "background-color: #CDCDCD"}
							%td
								TOTALES
							%td
								= number_to_ars(col.sum(&:real_total))
							%td
								= number_to_us(col.map{|bi| (bi.real_total / bi.expedient_bill.usd_price.to_f) unless bi.expedient_bill.usd_price == 0 }.compact.reduce(:+))
							%td
								= col.group_by{|a| a.expedient_bill}.size
			- if @can_see_all_sellers
				%p.h4
					Grafico Barras por vendedores
				%br
				= column_chart all_only_dates.group_by{|a| a.seller.try(:name)}.map{|seller_name, records| [seller_name, records.map{|a| a.real_total.to_f}.reduce(:+).round(2)] }, prefix: "$", thousands: ".", decimal: ",", height: "650px"
		.col-6{style: 'height: 100vh; border-left: 1px solid #f0f0f0'}
			%hr
			%p.h4
				Grafico Torta por cliente
			%br
			.row
				= pie_chart col.includes(:expedient_bill, expedient_bill: :entity).joins(expedient_bill: :entity).group_by{|b| b.expedient_bill.entity.name }.map{|entity, records| [entity, records.group_by{|c| c.expedient_bill}.size]}, height: "450px"
			%hr
			%p.h4
				Grafico Barras por cliente
			%br
			.row
				= column_chart col.joins(expedient_bill: :entity).group_by{|b| b.expedient_bill.entity.name || Entity.unscoped.find_by(id: b.expedient_bill.entity_id).nombre }.map{|entity, records| [entity, records.map{|a| a.real_total}.reduce(:+).to_f]}, prefix: "$", thousands: ".", decimal: ",", height: "450px"
