- params[:view] ||= 'general'
.index
	.index-title
		.principal
			#{icon('fas', 'dollar-sign')} Reporte de ventas
		.buttons.d-flex.align-items-start
			= link_to "General", reports_bills_path(view: 'general'), class: "btn btn-outline-dark #{'active' if params[:view] == 'general'}", data: {'skip-pjax' => true}
			= link_to "Movimientos", bill_movements_path(), class: "btn btn-outline-dark"
			= link_to "Expedientes", reports_bills_path(view: 'expedients'), class: "btn btn-outline-dark #{'active' if params[:view] == 'expedients'}", data: {'skip-pjax' => true}
			= link_to "Estados (Exp)", reports_bills_path(view: 'expedient_state'), class: "btn btn-outline-dark #{'active' if params[:view] == 'expedient_state'}", data: {'skip-pjax' => true}
			= link_to "Anual", reports_bills_path(view: 'total_selled_per_month'), class: "btn btn-outline-dark #{'active' if params[:view] == 'total_selled_per_month'}", data: {'skip-pjax' => true}
			= link_to "Vendedores", reports_bills_path(view: 'total_selled_per_seller'), class: "btn btn-outline-dark #{'active' if params[:view] == 'total_selled_per_seller'}", data: {'skip-pjax' => true}
			= link_to "Presupuestos", reports_bills_path(view: 'total_budgeted'), class: "btn btn-outline-dark #{'active' if params[:view] == 'total_budgeted'}", data: {'skip-pjax' => true}
	#bmenu.mx-4.d-flex.justify-content-between.align-items-center
	- if ["general", "supplier", "total_selled_per_month", "total_selled_per_seller", "total_budgeted", "expedients", "expedient_state"].include? params[:view]
		= render params[:view]
