- company_presenter ||= CompanyPresenter.new(consumption.company, self)
.text_size_invoice_type{style: "width: 40px; position: absolute; margin-left: 720px; z-index: 99999;"}
  %center
    .border.border-top-0{style: "width: 40px; background-color: white;"}
      X
.border
  %table.width_100
    %tr{style: "line-height: 10px !important;"}
      %th.text_size_20.text_left.header_word_break{style:"text-align: center; width: 200px; line-height: 10px;"}
        %p
          = wicked_pdf_image_tag consumption.company.pdf_logo, width: "200px"
      %th.header_word_break{style:"width: 300px; text-align: left; padding-left: 50px; font-size: 11px;"}
        %p
          = consumption.company.try(:address)
        %p
          = consumption.company.postal_code + " " + consumption.company.try(:locality).try(:province).try(:name) + " - " + consumption.company.try(:locality).try(:province).try(:country).try(:name)
        %p
          = "#{consumption.company.try(:contact_number)}".html_safe
        %p
          = "#{consumption.company.try(:email)}".html_safe
        %p
          = "C.U.I.T.: #{consumption.company.try(:cuit)}".html_safe
        %p
          www.magnus.com.ar
      %th.header_word_break.border-left{style:"width: 250px;"}
        %br
        %br
        %br
        %br
        %p.text_size_25
          CONSUMO
        %p.text_size_20
          Nº
          = consumption.number
        %p.text_size_20
          Fecha:
          = I18n.l(consumption.date, format: :default)
.border
  %table.width_100{style: 'font-size: 11px;'}
    %tr
      %td
        %b
          INSTITUCIÓN:
        = consumption.client.denomination

      %td
        %b
          REMITO.:
        = consumption.shipments.map(&:number).join(", ")
    %tr
      %td
        %b
          AFILIADO:
        = consumption.file.pacient.try(:upcase)
      %td
        %b
          Nº AFILIADO:
        = consumption.file.pacient_number
    %tr
      %td
        %b
          CLIENTE RAZÓN SOCIAL:
        = consumption.client.name
      %td
        %b
          EXPEDIENTE:
        = consumption.file.external_number.try(:upcase)
    %tr
      %td
        %b
          MÉDICO:
        = consumption.file.doctor.try(:upcase)
      %td
        %b
          FECHA DE CONSUMO:
          = I18n.l(consumption.date, format: :default)
